<div class="center hero-unit">
  <h1>Wage Portal</h1>

  <h2>
    This is the home page for the Wage Portal
  </h2>

  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>
